# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Installed packages
packages/
straight/

# Bookmarks
bookmarks
projectile-bookmarks.eld

# Backup files
backup/

# Databases
*.sqlite

transient/
.cache/
